#myProgress {
  width: 100%;
  background-color: grey;
  border-radius: 5px;
}
#myBar {
  width: 0%;
  height: 3px;
  background-color: #01c062;
  box-shadow: 0 3px 6px #01c062, 0 3px 6px rgba(0, 0, 0, 0.23);
}
