.card {
  box-shadow: 0 10px 20px rgba(47, 59, 66, 0.19), 0 6px 6px rgba(47, 59, 66, 0.23);
}

.playing {
  background: linear-gradient(to bottom, rgba(26, 174, 81, 0.35) 0%, rgba(10, 64, 30, 0) 63%, rgba(0, 0, 0, 0) 100%);
  border: 3px solid #1aae51;
  border-bottom: none;
}

body {
  background: #0c121c;
}

button {
  background: none;
  border-radius: 10px;
  border: none;
  color: #01c062;
  font-size: 30px;
}

button.disabled {
  color: #0c121c;
  cursor: not-allowed;
}
nav {
  border-bottom: 1px solid #2f3b42;
}
nav i {
  border-bottom: 1px solid #2f3b42;
  font-size: 1.5rem;
}
nav,
footer {
  background-color: #19212c;
}
